/* ******     Font Family :Jaldi     ******** */
  @font-face {
    font-family: 'Jaldi';
    font-style: bold;
    font-weight: 900;
    src: url('/fonts/Jaldi/Jaldi-Bold.ttf');
  }

  @font-face {
    font-family: 'Jaldi';
    font-style: bold;
    font-weight: 700;
    src: url('/fonts/Jaldi/Jaldi-Bold.ttf');
  }
  
  @font-face {
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Jaldi/Jaldi-Regular.ttf');
  }
  
  @font-face {
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/Jaldi/Jaldi-Regular.ttf');
  }
  
  @font-face {
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Jaldi/Jaldi-Regular.ttf');
  }
  
  /* *** end font family roboto ****/
  