

h1, h2, h3, h4, h5, h6, p, * {
    margin-bottom: 0;
    font-family: 'Jaldi';
}
body{
    margin: 0;
}
.exe_main-container {
    width: 100%;
    height: 100vh;
}


.fctc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.fccc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fcbc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.fcbs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.fcbe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.fcsc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.fcse {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.fces {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.fcss {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.fcec {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.fcce {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.fccs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.fcee {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

/* Rows */
.frct {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
}
.frcc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.frcb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.frbc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.frbs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.frsb {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: space-between;
}
.frss {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.freb {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: space-between;
}
.frbe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.frcs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.frsc {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.frce {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.frec {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.free {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.frse {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}
.fres {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}



.fade-in {
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }