$font-size: 14px;
$line-height: 1.3;
$font-family: 'Lato', sans-serif;
$font-weight-light: 300;
$font-light: 300;
$font-weight-regular: 400;
$font-regular: 400;
$font-weight-bold: 700;
$font-bold: 700;
$font-weight-extra-bold: 700;
$font-extra-bold: 700;

$color-primary: #202857;
$color-primary-darker: #18246b;
$color-error: #f34040;
$color-success: #008000;

$color-text-primary: rgba(0, 0, 0, 0.87);
$color-text-titles: $color-primary;
$color-text-secondary: #C4C4C4;

$border-color : #C4C4C4;
$border-active : #283593;
$border-darker: rgba(0, 0, 0, 0.87);

$white: #ffffff;
$black: #000000;

$card-back : #f7f7f7;

$transition: all 0.6s ease;

