.guidelines-body{
  width: 100%;
  .guidelines-content{
    width: 80%;
    max-width: 1200px;
    margin: 60px auto;
  }
}


.guideline-card_box{
  width: 100%;
  background-color: $background-over;
  border-radius: 5px;
  margin: 20px 0;
  .guideline-card_header{
    width: calc(100% - 40px);
    padding: 20px;
    h3{
      font-size: 24px;
      line-height: 28px;
      margin: 0;
      font-weight: 500;
    }
  }

  .guideline-card_content{
    .searched-card-container{
      padding: 0;
      .searched-card-content{
        width: calc(100% - 40px);
        padding: 10px 20px;
      }
      .landing-searched_title{
        display: none
      }
      .landing-searched_guideline-content{
        margin: 0;
      }
    }
  }
}