.header {
    width: 90%;
    height: 60px;
    padding: 5px;
    top: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h1{
        color: $color-primary;
    }
}
.header-logo_box {
    cursor : pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

img{
    padding-top: 20px;
    padding-right: 10px;
}

.header_actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .trans-button{
        margin-left: 60px;
        justify-content: flex-end;
        color: $color-primary;
    }
}

.reverse{
    h1{
        color: #fff;
    }
}