.header {
    width:95%;
    height: 60px;
    padding: 5px 20px;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-logo_box {
    cursor : pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

img{
    padding-top: 20px;
    padding-right: 10px;
}

.header_actions {
    width: 40%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}