.colored-icon-big-button{
    @include custom-styled-button;
    background-color: $color-primary;
    margin: 0 10px;
    font-size: 24px;
    font-family: "Jaldi";
    font-weight: 300;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 14px;
    border-radius: 6px;
    color: $white;
    transition: $transition;

    svg{
        margin : auto 0 auto 14px
    }

    &:hover{
        background-color: $color-primary-darker;
    }
}

@include mobileStyle{
    .colored-icon-big-button{
        font-size: 16px;
        padding: 10px;
    
        svg{
            display: none;
        }
    }
}