.landing-body {
    width: 100%;
    background-color: $white;
    position: relative;
    height: 100vh;
    color: $white;
}
.landing {
    width: 100%;
    height: 100vh;

    .auth-sidebar_container {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 50%;
        max-width: 800px;

        h2,
        p {
            margin-left: 100px;
        }

        a {
            display: none;
        }
    }

    .header {
        z-index: 1;
        margin: 0 5%;
        position: absolute;
    }
}
.search {
    width: 60%;
    height: 100%;
    margin: auto 0 auto auto;

    h1 {
        font-size: 44px;
        line-height: 50px;
        margin: 0;
    }

    h2 {
        font-size: 24px;
        line-height: 40px;
        margin: 0;
        color: $color-text-secondary;
        font-weight: 400;
    }
}
.search-bar {
    width: 100%;
    height: 100%;

    .input-box,
    .colored-icon-big-button {
        width: calc(60% - 15px);
        margin: 40px 15px 0 0;
    }
}
